.cartList {
	padding-bottom: 60px;
	margin-bottom: 60px;
	border-bottom: 1px solid #ccc;
}

.cartList_list {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.cartList_list__item {
	border: 1px solid grey;
	padding: 30px;
}